/*-----------------------------------*\
    UNTUK TAMBAH PROFIL
  \*-----------------------------------*/
h1.title {
    text-align: center;
}

nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    background: #443f3f;
    width: 290px;
}

.logoImg {
    width: 170px;
    height: 170px;
    flex-shrink: 0;
    margin-left: 50px;
    margin-right: auto;
}

a.navLink {
    position: relative;
    color: white;
    font-size: 20px;
    display: table;
    width: 300px;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 20px;
}

.navItem {
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
}

.active {
    background: #8b380a;
    box-shadow: -3px 8px 4px 0px rgba(0, 0, 0, 0.25);
    transition: ease-in-out;
}

a.navLink:hover {
    background: #8b380a;
    box-shadow: -3px 8px 4px 0px rgba(0, 0, 0, 0.25);
    transition: ease-in-out;
}

a.navLink:focus {
    background: #ffffff;
    box-shadow: -3px 8px 4px 0px rgba(0, 0, 0, 0.25);
    transition: ease-in-out;
    color: #f16211;
    margin-left: 10px;
    transition: 0.2s ease-in;
}

.logout {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

.logout:hover {
    width: 290px;
}

.logout:focus {
    color: #000000;
    background: #ffffff;
    box-shadow: none;
    transition: none;
    color: none;
    margin-left: 0px;
    width: 290px;
}

section.content {
    /* position: relative; */
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

h1.title {
    color: #fff;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

div.contentWrapper {
    margin-top: 10px;
    background-color: #fffdfd;
    border-radius: 10px;
    padding: 10px 20px;
}

div.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form {
    margin-top: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.row div {
    width: calc(95% / 2);
}

label {
    display: block;
    padding: 5px 5px;
}

form#form input,
form#form select {
    display: inline;
    padding: 5px 5px;
    color: rgba(0, 0, 0, 0.6);
    font-family: Poppins;
    font-size: 16px;
    border-bottom: 2px solid rgba(183, 182, 182, 0.8);
    width: 100%;
}

.rowImage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 90%; */
    justify-content: space-between;
    align-items: center;
}

.rowImage div {
    width: 65%;
}

.rowImage img {
    width: 35%;
}

button.btnSubmit {
    display: block;
    text-transform: capitalize;
    background: linear-gradient(90deg, #f16211 -14.33%, #e59a6f 85.67%);
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 10px;
    width: 25%;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btnWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

a.btnBack {
    display: block;
    text-transform: capitalize;
    background-color: rgba(183, 182, 182, 0.8);
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 10px;
    width: 25%;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/

@media (max-width: 430px) {
    /**
     * LOGIN / SING Up
     */
    .wrapper {
        max-width: 320px;
        width: 100%;
        margin-inline: auto;
    }

    .btn-login {
        max-width: 240px;
        width: 100%;
        margin-inline: auto;
    }

    .btn-register {
        max-width: 240px;
        width: 100%;
        margin-inline: auto;
    }
}

/**
   * responsive for large than 575px screen
   */

@media (min-width: 575px) {
    /**
     * CUSTOM PROPERTY
     */

    :root {
        /**
       * typography
       */

        --fs-2: 4rem;
        --fs-3: 2.8rem;
        --fs-4: 2rem;
    }

    /**
     * REUSED STYLE
     */

    .container {
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }

    .section-subtitle {
        --fs-5: 1.6rem;
    }

    .h2 {
        font-weight: var(--fw-700);
    }

    /**
     * FOOTER
     */

    .footer-top {
        position: relative;
        overflow: hidden;
    }

    .footer-top .container {
        grid-template-columns: 1fr 1fr;
    }

    .footer .shape-3 {
        display: block;
        position: absolute;
        bottom: -30px;
        right: 0;
    }
}

/**
   * responsive for large than 768px screen
   */

@media (min-width: 768px) {
    /**
     * CUSTOM PROPERTY
     */

    :root {
        /**
       * typography
       */

        --fs-1: 4rem;
        --fs-2: 5rem;
        --fs-3: 3.4rem;
    }

    /**
     * REUSED STYLE
     */

    .container,
    .hero-content {
        max-width: 720px;
    }

    .btn {
        padding: 16px 32px;
    }

    .section-subtitle {
        --fs-5: 1.8rem;
    }

    .section-title:not(.h1) {
        max-width: 500px;
        margin-inline: auto;
    }

    /**
     * FOOTER
     */

    .footer-top .container {
        grid-template-columns: 1fr 0.9fr 0.9fr;
    }

    .copyright {
        --fs-6: 1.4rem;
    }
}

/**
   * responsive for large than 992px screen
   */

@media (min-width: 992px) {
    /**
     * CUSTOM PROPERTY
     */

    :root {
        /**
       * typography
       */

        --fs-2: 4.4rem;
        --fs-3: 3.8rem;
        --fs-4: 2.2rem;

        /**
       * spacing
       */

        --section-padding: 100px;
    }

    /**
     * REUSED STYLE
     */

    .container {
        max-width: 960px;
    }

    .section-text,
    .card-text {
        font-size: 1.8rem;
    }

    /**
     * HEADER
     */

    .nav-toggle-btn {
        display: none;
    }

    .header .container {
        gap: 30px;
    }

    .navbar,
    .navbar.active {
        all: unset;
        display: block;
        margin-inline-start: auto;
    }

    .navbar-list {
        display: flex;
    }

    .navbar-link {
        position: relative;
        font-size: unset;
    }

    .navbar-link:is(:hover, :focus-visible) {
        background: none;
        color: var(--white);
    }

    .navbar-link::after {
        content: url("../images/nav-before-img.png");
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
    }

    .navbar-link:is(:hover, :focus-visible)::after {
        opacity: 1;
    }

    .header .btn {
        display: flex;
        padding: 12px 24px;
        font-size: var(--fs-5);
    }
}

/**
   * responsive for large than 1200px screen
   */

@media (min-width: 1200px) {
    /**
     * CUSTOM PROPERTY
     */

    :root {
        /**
       * typography
       */

        --fs-2: 5rem;
        --fs-3: 4.6rem;
    }

    /**
     * REUSED STYLE
     */

    .container,
    .hero .container {
        max-width: 1140px;
    }

    .btn {
        padding: 18px 36px;
    }

    .btn .material-symbols-rounded {
        --fs: 1.3em;
    }

    /**
     * HEADER
     */

    .header {
        padding-block: 25px;
    }

    .logo img {
        width: 128px;
    }

    .header .btn {
        font-size: unset;
        padding-block: 15px;
    }

    /**
     * FOOTER
     */

    .footer-top {
        padding-block: 150px;
    }

    .footer-top .container {
        padding-inline-start: 25%;
    }

    .footer-bottom {
        position: relative;
        padding-block: 30px;
        z-index: 1;
    }

    .footer :is(.shape-1, .shape-2) {
        display: block;
        position: absolute;
        bottom: 0;
        width: 50%;
        pointer-events: none;
        z-index: -1;
    }

    .footer .shape-1 {
        left: -100px;
    }

    .footer .shape-2 {
        left: -50px;
    }
}

/**
   * responsive for large than 1400px screen
   */

@media (min-width: 1400px) {
    /**
     * CUSTOM PROPERTY
     */

    :root {
        /**
       * typography
       */

        --fs-2: 6rem;

        /**
       * spacing
       */

        --section-padding: 140px;
    }

    /**
     * REUSED STYLE
     */

    :is(.header, .hero) .container {
        max-width: 1280px;
    }

    .section-subtitle::before {
        height: 20px;
        margin-inline-end: 5px;
    }

    /**
     * HEADER
     */

    .header .btn {
        padding: 18px 36px;
    }

    /**
     * FOOTER
     */

    .footer-top .container {
        padding-inline-start: 20%;
    }
}

.logout-text {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
}

.logout {
    color: white;
    font-size: 20px;
    display: table;
    width: 300px;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 20px;
    text-decoration: none;
    text-align: left;
    border-radius: 10px;
}

.logout:hover {
    background: #8b380a;
    box-shadow: -3px 8px 4px 0px rgba(0, 0, 0, 0.25);
    transition: ease-in-out;
}
